# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    locale: ru
    app.host: fb.host.ru
    leads_host:     leadhost.ru
    leads_port:     3306
    leads_name:     leads_name
    leads_user:     leads_user
    leads_password: leads_pass
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    fb.listener: fb
    vk.listener: vk
    vk.confirmation_token: VK_TOKEN
    vk.response.ok: ok
    
    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    facebook.default_graph_version: v3.1
    facebook.app.id:        number_of_app
    facebook.app.secret:    secret_of_app
    facebook.verify.token:  verify_token
    facebook.app.token: app_token
    facebook.get.leads.limit: 10
    facebook.access.token: access_token
